@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spartan&family=Spinnaker&display=swap');

.restaurants {
	display: block;
	margin-bottom: auto;
}

.restaurants img {
	height: 50%;
	width: 100%;
}

#restaurants {
	margin-top: 1em;
	margin-left: 1em;
    height: auto;
	font-weight: 600;
	line-height: 20px;
	color: black;
	display: block;
	font-size: 14px;
	text-align: center;
	align-items: left;
	align-content: left;
}

#restaurantBlock{
	display: flex;
	flex-direction: flex-start;
	flex: 1;
	flex-wrap: wrap;
}
