#restaurant {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

}
.restaurantInfo {
	top: 50%;
	display: flex;
	margin: 2em;
	text-align: center;
	height: 250px;
	width: 300px;
	text-transform: uppercase;
	line-height: 10px;
	background-color: black;
	color: white;
	font-size: 12px;
	line-height: 2em;
	padding: 2em 2em 1.5em 2em;
	align-self: center;
}
a {
	color: white;
}
a:hover {
	color: red;
}
