#restaurant {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}
.restaurantInfo {
	top: 50%;
	display: flex;
	margin: 2em;
	text-align: left;
	height: auto;
	font-family: 'Spinnaker', sans-serif;
	text-transform: uppercase;
	line-height: 10px;
	background-color: black;
	color: white;
	font-size: 12px;
	line-height: 2em;
	padding: 1em 2em;
}
a {
	color: white;
}
a:hover {
	color: red;
}
