#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: black;
  border-top: 1px solid #e5e5e5;
}

#logoImg {
  height: 25%;
}
#footerText {
  position: relative;
  margin-top: 1em;
  margin-left: 2em;
  width: 33%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  font-family: 'Spinnaker', sans-serif;
  color: white;
  font-size: 14px;
  text-align: left;
  justify-content: left;
}

#subtext {
  font-size: 12px;
  margin-top: 1em;
  font-family: 'Spinnaker', sans-serif;
  font-style: bold;
}

.footerNav {
  position: absolute;
  margin-top: 1em;
  margin-left: 60%;
  width: 33%;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  color:white;
  font-size: 14px;
  text-align: left;
  justify-content: left;
}
#syncrLogo{
    width: 33%;
}
#footerLinks {
  color: white;
  line-height: 20px;
  position: relative;
  font-size: 12px;
  margin-top: 1em;
  text-align: center;
}

#footerLinks:hover{
    color:red;
    font-style: italic;

}

#footer ul {
  list-style: none;
  padding-left: 0;
}

#footer li {
  line-height: 2em;
}

#footer a {
  text-decoration: none;
}
.exploreNav {
    position: absolute;
    margin-top: 1em;
    margin-left: 33%;
    width: 33%;
    display: flex;
    flex-direction: row;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    color:white;
    font-size: 14px;
    text-align: left;
    justify-content: left;
  }
@media(max-width: 600px){

    .exploreNav{
    margin-left: 35%;
    font-size: 10px;
}

.footerNav{
    margin-left: 65%;
    font-size: 10px;
    justify-content: justify;
}
}