#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background-color: black;
  font-size: 12px;
  border-top: 1px solid #e5e5e5;
}

#logoImg {
  height: 25%;
}
#footerText {
  position: relative;
  margin-top: 1em;
  margin-left: 2em;
  width: 25%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  font-family: 'Spinnaker', sans-serif;
  color: white;
  text-align: left;
  justify-content: left;
}

#subtext {
  font-size: 12px;
  margin-top: 1em;
  font-family: 'Spinnaker', sans-serif;
  font-style: bold;
}
.exploreNav {
  position: relative;
  margin-top: 1em;
  margin-left: 1em;
  width: 33%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
  text-align: left;
  justify-content: left;
}

.contactNav {
  position: absolute;
  margin-top: 1em;
  margin-left: 50%;
  width: 33%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  font-family: 'Lato',sans-serif;
  color: white;
  text-align: left;
  justify-content: left;
}

#syncrLogo {
  width: 33%;
}
#footerLinks {
  color: white;
  line-height: 20px;
  position: relative;
  margin-top: 1em;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  text-align: left;
  align-self: left;
  justify-content: left;
}

#footerLinks:hover {
  color: red;
  font-style: italic;
}

#footer ul {
  list-style: none;
  padding-left: 0;
}

#footer li {
  line-height: 2em;
  align-content: left;
  text-align: left;
}

#footer a {
  text-decoration: none;
}

.navItem {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Lato',sans-serif;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 1em;
  font-size: 14px;
}

@media (max-width: 600px) {
  .exploreNav {
    font-size: 10px;
    margin-left: 0;
  }

  .contactNav {
    margin-left: 65vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    justify-content: justify;
  }
}
