@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spartan&family=Spinnaker&display=swap');

.signUp{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    align-items: left;
}
#signUpImg {
    width: 50%;
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;

}
.signUpForm{
    width: 100%;
    display: flex;
    flex-basis: 50%;
}
#inputBox {
    width: 250px;
    height: 20px;
}

#signUpFormText{
    position: relative;
    font-weight: 800;
    height: 50%;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
    opacity: 0.9;
    color:black;
    font-size: 14px;
    text-align: left;
    display: flex;
    align-self: flex-start;
    margin-left: 2em;
    font-family: 'Spinnaker', sans-serif;
}

span{
    font-size: 10px;
    text-transform: lowercase;
}

button{
    background-color: black;
    color: white;
    height: 40px;
    margin-top: 1em;
}
