.changePassword {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	align-items: left;
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;
}
#peterPans {
	width: 100vw;
	height: auto;
	margin-top: 1em;
}

.changePasswordForm {
    width: stretch;
    display: flex;
}

#changePasswordFormText {
	position: absolute;
    top: 50%;
    margin-left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    box-sizing: border-box;
    font-family: 'Spinnaker', sans-serif;
    padding: 1em 3em ;
    line-height: 30px;
    background-color: rgba(0,0,0,0.6);
    color:white;
    font-size: 14px;
    text-transform: uppercase;
}
button {
	background-color: black;
	color: white;
	height: 40px;
	margin: 1em 0 2em;
}
.input {
	width: 250px;
    height: 20px;
    margin-top: 2em;
}

span{
    text-transform: uppercase;
    font-size: 14px;
}

#resetLink{
    color: black;
}