.forgotPassword {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	align-items: left;
	justify-content: flex-start;
}

.forgotPasswordForm {
	width: 100%;
	display: flex;
	flex-basis: 50%;
}

#peterPans {
	width: 50%;
	margin-top: 1em;
	display: block;
	justify-content: flex-start;
}

#forgotPasswordText {
	margin: 2em 3em 2em 2em;
	position: relative;
	font-weight: 800;
	height: 50%;
	text-transform: none;
	letter-spacing: 2px;
	line-height: 30px;
	opacity: 0.9;
	color: black;
	font-size: 14px;
	text-align: left;
	display: flex;
	align-self: flex-start;
	font-family: 'Spinnaker', sans-serif;
}
button {
	background-color: black;
	color: white;
	height: 40px;
	margin: 1em 0 2em;
}
.input {
	width: 250px;
    height: 20px;
    margin-top: 2em;
}

span{
    text-transform: uppercase;
    font-size: 14px;
}