@import url('https://fonts.googleapis.com/css?family=Damion|Great+Vibes|Pathway+Gothic+One|Paytone+One|Spinnaker&display=swap');

.homePage {
  display: block;
  margin-bottom: auto;
}

.homePage h2 {
  font-size: 35;
  align-items: center;
}

#skyline img {
  height: 100vh !important;
  width: 100vw;
}

#homeLinks {
  text-decoration: none;

  color: white;
}

#homeLinks:hover {
  color: yellow;
}

.homeText {
  position: absolute;
  top: 30%;
  margin-left: 50%;
  text-align: left;
  transform: translate(-50%, -50%);
  width: 100%;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5em;
  line-height: 2em;
  opacity: 0.9;
  color: white;
  font-size: 16px;
}

@media (max-width: 700px) {
  .homeText {
    font-size: 14px;
    line-height: 1.5em;
    padding: 3em 2em;
  }
}
