@import url('https://fonts.googleapis.com/css2?family=Spinnaker&family=Lato&display=swap');

.aboutPage {
  display: block;
  align-items: center;
  height: auto;
  justify-content: center;
  margin-bottom: auto;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/passion.jpg');
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

#aboutPageText {
  font-weight: 600;
  line-height: 40px;
  height: 100vh;
  color: white;
  display: block;
  font-size: 16px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  background-color: rgba(0, 0, 0, 0.54);
  align-content: left;
  padding: 12%;
  overflow-y: scroll;
}

