@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spartan&family=Spinnaker&display=swap');

.resources {
    font-size: 20px;
    display: block;
    align-items: center;
	height:auto;
	justify-content: center;
    margin-bottom: auto;
}

.resources img{
    width:100%;
}

#resources{
    margin-top: 1em;
	margin-left: 1em;
    height: auto;
	font-weight: 600;
	line-height: 20px;
	color: black;
	display: block;
	font-size: 14px;
	text-align: center;
	align-items: left;
	align-content: left;

}
#resourcesBlock{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
