#resource {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

}

#resourceLink {
	display: flex;
	margin: 2em;
	text-align: center;
	height: fit-content;
	width: 300px;
	text-transform: uppercase;
	line-height: 10px;
	background-color: black;
	color: white;
	font-size: 12px;
	line-height: 2em;
	padding: 2em 2em 1.5em 2em;
	align-self: center;
}
#resourceLink:hover {
	color: red;
}
