@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spartan&family=Spinnaker&display=swap');

.resources {
    font-size: 20px;
    display: block;
	height:auto;
    margin-bottom: auto;
}

.resources img{
    width:100%;
}

#resources{
	display: flex; 
	flex-wrap: wrap;
	margin-top: 1em;
	margin-left: 1em;
    height: auto;
	font-weight: 600;
	line-height: 20px;
	color: black;
	display: block;
	font-size: 14px;
	text-align: justify;
	align-items: left;
	align-content: left;
}
#resourcesBlock{
	display: flex;
	flex-direction: flex-start;
	flex: 1;
	flex-wrap: wrap;
}
