@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spartan&family=Spinnaker&display=swap');

.resources {
    font-size: 20px;
    display: block;
    align-items: center;
    height: 100%;
}

.resources img{
    width:100%;
    padding-top: 1em;
}

#resources{
    position: absolute;
    margin-top: 16px;
    height: 100vh;
    font-weight: 400;
    margin-left: 1em;
    line-height: 30px;
    opacity: 0.9;
    color:black;
    font-size: 16px;
    text-align: left;
    font-family: 'Spinnaker', sans-serif;

}