@import url('https://fonts.googleapis.com/css?family=Damion|Great+Vibes|Pathway+Gothic+One|Paytone+One|Spinnaker&display=swap');

.navBar {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  width: 100%;
  font-family: 'Spinnaker', sans-serif;
}

#link {
  color: black;
  text-decoration: none;
  margin-left: 1em;
}

#greeting {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: bold;
  position: absolute;
  text-align: left;
  margin-left: 1em;
  margin-bottom: 2em;
}

#greeting {
  display: flex;
  align-self: flex-start;
}

.topNav {
  float: right;
  padding: 0% 1% 0% 0%;
  font-size: 12px;
  margin-bottom: 1vh;
  margin-left: 1em;
}

.dropNav {
  float: left;
  display: none;
  margin-right: 3vw;
  color: black;
}

#dropbtn {
  background-color: transparent;
  font-size: 20px;
  margin: 0 1em 5px;
}

.dropdown-content {
  display: block;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  text-align: right;
}

.dropNav:hover .dropdown-content {
  display: block;
  margin-left: -200px;
  color: white;
}

.min-screen {
  color: white;
  font-weight: normal;
  padding: 1em;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
  background-color: black;

}

@media screen and (max-width: 800px) {

  .topNav {
    display: none;
  }

  .dropNav{
    display: block;
  }
}
