@import url('https://fonts.googleapis.com/css?family=Damion|Great+Vibes|Pathway+Gothic+One|Paytone+One|Spinnaker&display=swap');
.navBar {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
  width: 100%;
  font-family: 'Lato', sans-serif;
}
#link {
  color: black;
  text-decoration: none;
  margin-left: 1em;
}

.topNav {
  float: right;
  padding: 0% 2% 0% 0%;
  font-size: 13px;
}

#link:hover {
  color: red;
  font-style: italic;
}

.dropNav {
  float: left;
  margin-left: 2vw;
  overflow: hidden;
  display: none;
  margin-right: 2vw;
}

#dropbtn {
  background-color: transparent;
  font-size: 25px;
  margin-right: 1vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  z-index: 1;
  color: white;
  text-align: left;
}

.dropNav:hover .dropdown-content {
  display: block;
  margin-left: 1vw;
  color: white;
}

.min-screen {
  float: none;
  color: white;
  font-weight: normal;
  background-color: black;
  padding: 5px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 13px;
}

a:link, a:visited, a:active {
  color:white;
  text-decoration: none;
}


@media screen and (max-width: 800px) {
  .dropNav {
      display: block;
  }
  
  .topNav {
      display: none;
  }
}

