@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spartan&family=Spinnaker&display=swap');

.userProfile{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-content: left;
  font-family: 'Spinnaker', sans-serif;
  margin-bottom: auto;
}

.userProfile img {
	height: 50%;
	width: 100%;
}

#addRestaurantForm{
  margin-top: 1em;
  margin-left: 10%;
  height: auto;
	font-weight: 600;
	line-height: 20px;
	color: black;
	display: block;
	font-size: 16px;
	font-family: 'Lato',sans-serif;
	text-align: left;
	align-items: left;
	align-content: left;
}
#profileText {
 padding-bottom: 20px;
}

#addRestaurantForm h3{
  text-transform: uppercase;
}


#userProfileSpan{
  font-size: 10px;
  
}
#userRestaurantHeader{
  margin: 0 1em;
  font-size: 16px;
  text-transform: uppercase;
}
#usersRestaurantBlock{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
#restaurantInputBox{
  margin-top: 1em;
  width: 200px;
}

#bioBox{
  width: 200px;
  height: auto;
}
