@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spartan&family=Spinnaker&display=swap');

.search {
	display: block;
}

.search img {
	height: 100%;
	width: 100vw;
}

#results {
	position: absolute;
    text-align: center;
    transform: translate(0%, -100%);
	width: 100vw;
	font-weight: 700;
    height: 119vh;
    box-sizing: border-box;
    font-family: 'Spinnaker', sans-serif;
    padding: 2em 3em ;
    line-height: 20px;
    background-color: rgba(0,0,0,0.6);
    color:white;
    font-size: 16px;
    text-transform: uppercase;
}


button{
	margin-bottom: 1em;

}
#searchResultsBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
