@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spartan&family=Spinnaker&display=swap');

.search {
    display: block;
	height:auto;
    margin-bottom: auto;
}

.search img {
	height: 100%;
	width: 100vw;
}

#results {
	display: flex; 
	flex-wrap: wrap;
	margin-top: 1em;
	margin-left: 1em;
    height: auto;
	font-weight: 600;
	line-height: 20px;
	color: black;
	display: block;
	font-size: 14px;
	text-align: justify;
	align-items: left;
	align-content: left;
}


button{
	margin-bottom: 1em;

}
#searchResultsBlock{
    display: flex;
	flex-direction: flex-start;
	flex-wrap: wrap;
}
