@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Spartan&family=Spinnaker&display=swap');

.search {
    display: block;
    margin-bottom: 50%;
}

.search img {
	height: 100%;
	width: 100vw;
}

#results {
	position: absolute;
    text-align: center;
	width: 100vw;
	font-weight: 700;
    height: auto;
	display: block;
    box-sizing: border-box;
    padding: 2em 3em ;
    line-height: 20px;
    color:black;
    font-size: 14px;
    text-transform: uppercase;
}


button{
	margin-bottom: 1em;

}
#searchResultsBlock{
    display: flex;
	flex-direction: flex-start;
	flex: 1;
	flex-wrap: wrap;
}
